[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST=redis-dev.madhavi91.online
Environment=CATALOGUE_HOST=catalogue-dev.madhavi91.online
Environment=catalogue-dev.madhavi91.online=8080
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target